.btn-padrao {
    font-family: "Roboto", sans-serif;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 14px;
    letter-spacing: 1px;
    display: inline-block;
    padding: 10px 28px;
    border-radius: 4px;
    transition: 0.5s;
    color: #fff;
    background: #37b6fd;
  }
  
  .btn-padrao:hover {
    background: #247cf0;
    color: #fff;
  }